body {
  margin:0;
  padding:0;
}

.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  height: 100%;
}
.container{
  background-color: white;
  padding: 100px 0 250px 0;
  text-align: center;
  width: auto;
  height: 80%;

  
}