.mat-raised-button {
  margin: 20px 20px 20px 20px;

}

.container {
  width: 100%;
  min-height: 480px;
  background-color: white;
  background-size: cover;
}

.basic-container{
  text-align: center;
}