<div class="basic-container">
  <div class="content">
    <div class="container">
      <h3>Progress Spinner</h3>
      <button mat-raised-button (click)="getFakeData()">Load</button>
      <button mat-raised-button (click)="stopFakeData()">Stop</button>
      <mat-spinner color='primary' *ngIf="this.showSpinner" style="margin:0 auto;"></mat-spinner>
      <mat-spinner color='secundary' *ngIf="this.showSpinner" style="margin:0 auto;"></mat-spinner>
      <mat-spinner color='warn' *ngIf="this.showSpinner" style="margin:0 auto;"></mat-spinner>
    </div>
  </div>
  <br><br><br>
</div>
