<div class="basic-container">

    <h1>TYPHOGRAPHY</h1>
    <div class="mat-display-4">Display-4</div>
    <div class="mat-display-3">Display-3</div>
    <div class="mat-display-2">Display-2</div>
    <div class="mat-display-1">Display-1</div>

    <div class="mat-headline">headline</div>
    <div class="mat-title">title</div>
    <div class="mat-subheading-2">subheading-2</div>
    <div class="mat-subheading-1">subheading-1</div>

    <div class="mat-body-1">body-1</div>
    <div class="mat-body-2">body-2</div>
    <div class="mat-caption">caption</div>
  

  <div class="mat-typhography">
    <h1>its h1 in mat-typhography</h1>
    <h2>its h2 in mat-typhograph</h2>
    <h3>its h3 in mat-typhograph</h3>
    <h4>its h4 in mat-typhograph</h4>
  </div>
  <br><br><br>
</div>
