<div class="basic-container">
  <br><br><br>
  <div>
    <h3>matBadgePosition</h3>
  </div>
  <div><span matBadge='5'>matbadge</span></div>
  <div><span matBadge='5' matBadgePosition='below after'>below after</span></div>
  <div><span matBadge='5' matBadgePosition='below before'>below before</span></div>
  <div><span matBadge='5' matBadgePosition='above before'>above before</span></div>

  <div>
    <h3>matBadgeSize</h3>
  </div>

  <div><span matBadge='5' matBadgeSize='small'>below after</span></div>
  <div><span matBadge='5' matBadgePosition='medium'>below before</span></div>
  <div><span matBadge='5' matBadgePosition='large'>above before</span></div>


  <div>
    <h3>matBadgeColor</h3>
  </div>
  <div><span matBadge='5' matBadgeColor='primary'>matbadge</span></div>
  <div><span matBadge='5' matBadgeColor='accent'>matbadge</span></div>
  <div><span matBadge='5' matBadgeColor='warn'>matbadge</span></div>

  <div>
    <h3>matBadgeOverlap</h3>
  </div>
  <div><span matBadge='5' matBadgeColor='primary' matBadgeOverlap='false'>matbadge</span></div>

  <div>
    <h3>Controller -> [matBadge]='value'</h3>
  </div>
  <div><span [matBadge]='value'>matbadge</span></div>

  <div>
    <h3>Controller -> [matBadgeHidden]='value === 0'</h3>
  </div>
  <div><span [matBadge]='value' [matBadgeHidden]='value === 0'>matbadge</span></div>
</div>
