@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;

}

.basic-container {

  margin-top: 64px;
  width: 100%;
  height: 100%;

}
