.container {
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  margin-top: 0 !important;

}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;

}

.spacer {
  flex: 1;
}



.loginIcon {
  position: fixed;
  right: 70px;

}

.logoutIcon {
  position: fixed;
  right: 70px;

}

.mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.mat-icon-button{
  line-height: 0;
}
