<div class="container" [class.is-mobile]="mobileQuery.matches">

    <mat-toolbar  color="primary" class="stoolbar mat-elevation-z4">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <button mat-icon-button routerLink="/">
        <mat-icon>home</mat-icon>
      </button>

      <button mat-icon-button class="logoutIcon" routerLink="/" *ngIf="isAuthenticate()" (click)="logouth()">CERRAR
        <mat-icon>person</mat-icon>
      </button>

      <button mat-icon-button class="loginIcon" routerLink="/login" *ngIf="!isAuthenticate()">LOGIN
        <mat-icon>person_outline</mat-icon>
      </button>

    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56">
        <mat-nav-list>
          <a mat-list-item routerLink="buttons">BUTTONS</a>
          <a mat-list-item routerLink="typography">TYPHOGRAPY</a>
          <a mat-list-item routerLink="badges">BADGES</a>
          <a mat-list-item routerLink="spinners">SPINNERS</a>
          <a mat-list-item routerLink="users">USERS</a>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>

    </mat-sidenav-container>

  </div>

