table {
    width: 100%;
  }

  .basic-container{
      text-align: left;
      margin-top: 58px;
  }

  .container {
    width: 100%;
    min-height: 580px;
    background-color: white;
    background-size: cover;
  }