 <div class="basic-container">
   <div class="container">
     <div class="mat-elevation-z8">
       <table mat-table [dataSource]="datasourceUsers">



         <ng-container matColumnDef="id">
           <th mat-header-cell *matHeaderCellDef> id </th>
           <td mat-cell *matCellDef="let element"> {{element._id}} </td>
         </ng-container>


         <ng-container matColumnDef="rut">
           <th mat-header-cell *matHeaderCellDef> rut </th>
           <td mat-cell *matCellDef="let element"> {{element.rut}} </td>
         </ng-container>


         <ng-container matColumnDef="name">
           <th mat-header-cell *matHeaderCellDef> name </th>
           <td mat-cell *matCellDef="let element"> {{element.name}} </td>
         </ng-container>

         <ng-container matColumnDef="email">
           <th mat-header-cell *matHeaderCellDef> email </th>
           <td mat-cell *matCellDef="let element"> {{element.email}} </td>
         </ng-container>

         <ng-container matColumnDef="pass">
           <th mat-header-cell *matHeaderCellDef> pass </th>
           <td mat-cell *matCellDef="let element"> {{element.pass}} </td>
         </ng-container>

         <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
         <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
       </table>

       <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
     </div>

   </div>
 </div>
