<div class="basic-container">

  <H1>MAT-BUTTONS</H1>
  <h3>STROKED-RAISED-ICONS</h3>
  <button mat-stroked-button color="accent">STROKED</button><br>
  <button mat-raised-button>RAISED</button><br>
  <h3>ICONS</h3>
  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>android</mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon>build</mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon>eco</mat-icon>
  </button>

  <br>

  <h3>FAB-MINI FAB</h3>
  <button mat-fab>FAB</button><br>
  <button mat-mini-fab>MINI</button><br>

  <h3>TOGGLE BUTTON</h3>
  <mat-button-toggle #toggleBtn checked disabled>TOGGLE DISABLED CHECK</mat-button-toggle>
  <div class="mat-subheading-2">{{toggleBtn.checked}}</div>
  <mat-button-toggle #toggleBtn0>TOGGLE ENABLED CHECK</mat-button-toggle>
  <div class="mat-subheading-2">{{toggleBtn0.checked}}</div>
  <h3>TOGGLE-GROUP</h3>

  <mat-button-toggle-group #toggleGroupBtn='matButtonToggleGroup'>
    <mat-button-toggle #toggleBtn1 value='TOGGLE1'>TOGGLE1</mat-button-toggle>
    <mat-button-toggle #toggleBtn2 value='TOGGLE2'>TOGGLE2</mat-button-toggle>
    <mat-button-toggle #toggleBtn3 value='TOGGLE3'>TOGGLE3</mat-button-toggle>
  </mat-button-toggle-group>
  <div class="mat-subheading-2">toggleBtn.Check : {{toggleBtn1.checked}} {{toggleBtn2.checked}} {{toggleBtn3.checked}}
  </div>
  <div class="mat-subheading-2">toggleGroupBtn Value: {{toggleGroupBtn.value}}</div>

  <mat-button-toggle-group #toggleGroupBtn1='matButtonToggleGroup' multiple>
    <mat-button-toggle value='TOGGLE1'>TOGGLE1</mat-button-toggle>
    <mat-button-toggle value='TOGGLE2'>TOGGLE2</mat-button-toggle>
    <mat-button-toggle value='TOGGLE3'>TOGGLE3</mat-button-toggle>
  </mat-button-toggle-group>
  <div class="mat-subheading-2">toggleGroupBtn1 Value: {{toggleGroupBtn1.value}}</div>

  <h3>COLOURS</h3>
  <button mat-button color="primary">PRIMARY</button><br>
  <button mat-button color="accent">ACCENT</button><br>
  <button mat-button color="warn">WARN</button><br>

  <h3>RAISED COLOURS</h3>
  <button mat-raised-button color="primary">PRIMARY</button><br>
  <button mat-raised-button color="accent">ACCENT</button><br>
  <button disabled="true" mat-raised-button color="warn">DISABLED WARN</button><br>

</div>
