<app-navbar></app-navbar>


<div class="imgAngular">
  <img src="../assets/img/angular.png" width="80%" height="auto">
</div>
<h3 aling="center">Material Design components for Angular</h3>

<router-outlet></router-outlet>
